{% extends 'home.html' %}

{%load static%}

{% block body %}

<center><marquee style = "font-family : 'Georgia' ; font-size:20px;color :darkcyan
    ; background-color:black;font-weight : bold;margin-top:1%">Recruiters</marquee></center>

{% for i in rdetails %}
<center>Details</center>
<div class="row" style="margin-top:3%;margin-left:20%">
    <div class="col-md-6" style="font-family : 'initial' ; font-size:30px">
        Company
    </div>
     <div class="col-md-6" style="font-family : 'initial' ; font-size:30px;color:maroon">
       {{i.company}}
    </div>
</div>
<div class="row" style="margin-top:1%;margin-left:20%">
    <div class="col-md-6" style="font-family : 'initial' ; font-size:30px">
        First Name
    </div>
     <div class="col-md-6" style="font-family : 'initial' ; font-size:30px;color:maroon">
       {{i.firstname}}
    </div>
</div>
<div class="row" style="margin-top:1%;margin-left:20%">
    <div class="col-md-6" style="font-family : 'initial' ; font-size:30px">
        Last Name
    </div>
     <div class="col-md-6" style="font-family : 'initial' ; font-size:30px;color:maroon">
       {{i.lastname}}
    </div>
</div>
<div class="row" style="margin-top:1%;margin-left:20%">
    <div class="col-md-6" style="font-family : 'initial' ; font-size:30px;">
        Email ID
    </div>
     <div class="col-md-6" style="font-family : 'initial' ; font-size:30px;color:maroon">
       {{i.emailid}}
    </div>
</div>
<div class="row" style="margin-top:1%;margin-left:20%">
    <div class="col-md-6" style="font-family : 'initial' ; font-size:30px;">
       Contact NO.
    </div>
     <div class="col-md-6" style="font-family : 'initial' ; font-size:30px;color:maroon">
       {{i.contact}}
  </div>
</div>
<div class="row" style="margin-top:1%;margin-left:20%">
    <div class="col-md-6" style="font-family : 'initial' ; font-size:30px;">
       Designation
    </div>
     <div class="col-md-6" style="font-family : 'initial' ; font-size:30px;color:maroon">
       {{i.designation}}
    </div>
</div>
{% endfor %}
  
</div>

{% endblock %}
